mat-form-field{
    display: block;
    margin: 5px;
}

.titulo {
    text-align: center;
    margin: 25px;
    font-size: 24px; /* Cambia el tamaño de la fuente a un valor apropiado */
    color: white;
  }
  
